<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <style>
        a {
    text-align: center;
} 
        a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
    </style>
    <h1 style="text-align: center;">Welcome to Home Page</h1>
    
<!-- <a href="https://shorturl.at/fqJ34">link for government bot</a> -->
<a href="https://t.ly/4g8G_"><p style="text-align:center">link for government chat bot</a>



</body>
</html>